<div class="layout-container">

  {% include current_theme_path ~ '/templates/layout/header.html.twig' %}

  {{ page.initiative_menus }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content_top %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.content_top }}
      </aside>
    {% endif %}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% include current_theme_path ~ '/templates/layout/footer.html.twig' %}

</div>{# /.layout-container #}
